@mixin header ($size, $height) {
  @if $size == h3 {
    font-size: $font-size-three;
    line-height: $line-height-three;
  }

  @else {
    font-size: $font-size-two;
  }
  margin-top: 0;
  font-weight: $font-weight-bolded;
  text-transform: uppercase;
}
