.image-wrapper {
  text-align: center;
  line-height: 0;

  & img {
    width: 100%;
  }

  @include screen-size($tablet-size) {
    & img {
      height: 25.7rem;
      object-fit: cover;
    }
  }
}
