.image-wrapper {
  height: 260px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--top {
    @include img-retina("../img/main-city-mobile@1x.jpg", "../img/main-city-mobile@2x.jpg");
  }

  &--bottom {
    @include img-retina("../img/main-bridge-mobile@1x.jpg", "../img/main-bridge-mobile@2x.jpg");
  }

  // Tablet-screen
  @include screen-size($tablet-size) {
    height: 256px;
    max-height: 100%;
    width: 100%;

    &--top {
      @include img-retina("../img/main-city-tablet@1x.jpg", "../img/main-city-tablet@2x.jpg");
    }

    &--bottom {
      order: -1;

      @include img-retina("../img/main-bridge-tablet@1x.jpg", "../img/main-bridge-tablet@2x.jpg");
    }
  }

  // Desktop screen
  @include screen-size($desktop-size) {
    height: 257px;

    &--top {
      @include img-retina("../img/main-city-desktop@1x.jpg", "../img/main-city-desktop@2x.jpg");
    }

    &--bottom {
      @include img-retina("../img/main-bridge-desktop@1x.jpg", "../img/main-bridge-desktop@2x.jpg");
    }
  }
}
