.form {
  &__section {
    &::after {
      content: "";
      display: block;
      border-top: 1px solid $form-divider;
    }

    &--no-divider {
      &::after {
        content: none;
      }
    }
  }

  &__inner {
    position: relative;
    padding: 1.8rem 6.25% 0.9rem;

    &--smaller {
      padding-bottom: 0.4rem;
    }

    &--high {
      padding-bottom: 3.7rem;
      padding-right: 7%;
    }

    &--lower {
      padding-bottom: 2.4rem;
    }
  }

  &__field {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 2.1rem;

    &--flexgrid {
      display: flex;
      align-items: center;
      // margin-bottom: 2.1rem;
      &:last-child {
        padding-bottom: 0;
      }
    }

    &--phone {
      &::before {
        content: "";
        position: absolute;
        top: 3.4rem;
        right: 0;
        height: 5.7rem;
        width: 5.8rem;
        background-color: $color-icon-background;
        background-image: url("../img/icon-phone.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--envelope {
      margin-bottom: 1.9rem;

      &::before {
        content: "";
        position: absolute;
        top: 3.4rem;
        right: 0;
        height: 5.7rem;
        width: 5.8rem;
        background-color: $color-icon-background;
        background-image: url("../img/icon-mail.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--radio-box {
      margin-bottom: 1.8rem;

      &:last-child {
        padding-bottom: 0.7rem;
      }

      label {
        position: relative;
        display: inline-block;
        padding-top: 1.7rem;
        padding-left: 4.2rem;
        margin-left: 3.2rem;
        font-size: $font-size--h3;

        &::before {
          content: "";
          position: absolute;
          top: 0.3rem;
          left: -3.6rem;
          height: 5.6rem;
          width: 5.6rem;
          background-color: $color-input;
          border-radius: 50%;
        }

        &::after {
          content: none;
          position: absolute;
          top: 2.1rem;
          left: -1.8rem;
          height: 2rem;
          width: 2rem;
          background-color: $color-radio-mark;
          border-radius: 50%;
        }

        &:hover::before {
          background-color: $color-disabled-btn;
        }

        &:active::after {
          opacity: 0.3;
        }
      }

      input[type="radio"]:checked + label::after {
        content: "";
      }
    }

    &--checkbox {
      margin-bottom: 3.5rem;

      &:last-child {
        margin-bottom: 2.6rem;
      }

      label {
        position: relative;
        display: inline-block;
        padding-top: 1.1rem;
        padding-left: 4.2rem;
        margin-left: 3.2rem;
        font-size: $font-size--h3;

        &::before {
          content: "";
          position: absolute;
          top: -2px;
          left: -3.7rem;
          height: 5.6rem;
          width: 5.6rem;
          background-color: $color-input;
          border-radius: 10%;

          &:hover {
            background-color: $color-disabled-btn;
          }
        }

        &::after {
          content: none;
          position: absolute;
          top: 1.8rem;
          left: -2.2rem;
          display: inline-block;
          height: 1.7rem;
          width: 2.4rem;
          background-image: url("../img/icon-tick.svg");
          background-repeat: no-repeat;
          background-position: center;
        }

        &:hover::before {
          background-color: $color-disabled-btn;
        }

        &:active::before {
          background-color: $color-radio-down;
        }

        &:active::after {
          background-image: url("../img/icon-tick--active.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      input[type="checkbox"]:checked + label::after {
        content: "";
      }
    }
  }

  &__number {
    &--flexgrid {
      display: flex;
    }
  }

  &__flex-block {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
  }

  &__column {
    &--sm {
      width: 5.7rem;
      margin-right: 10px;
    }

    &--bg {
      flex-grow: 1;
      flex-basis: 50%;
    }
  }

  &__label-count {
    margin: 0;
    padding-top: 0.3rem;
    margin-bottom: 0.7rem;
    font-size: $font-size;
    text-transform: uppercase;
    text-align: center;
  }

  &__input-count {
    font-size: $font-size--h3;
    line-height: 5.7rem;
    color: $color-input-font;
    text-align: center;
    font-weight: $font-bolded;
    background-color: $color-input;
  }

  &__header {
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;

    &--space-bottom {
      margin-bottom: 22px;
    }
  }

  &__label {
    display: block;
    width: auto;
    margin-right: 2.1rem;
    margin-left: 2.1rem;
    margin-bottom: 0.8rem;
    font-size: $font-size;
    line-height: $header-line-height;
    white-space: nowrap;
    text-transform: uppercase;

    &--stretch {
      margin-left: 0;
      margin-right: 2.3rem;
      margin-bottom: 0;
    }

    &--bolded {
      font-weight: $font-bolded;
      text-transform: capitalize;
    }

    &--file {
      width: auto;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: $font-btn;
      line-height: $header-line-height;
      color: $color-input-font;
      text-align: center;
      background-color: $color-input;

      &:hover {
        background-color: $color-disabled-btn;
      }

      &:active {
        background-color: $color-radio-down;
      }
    }
  }

  &__input {
    box-sizing: border-box;
    top: -0.1rem;
    height: 5.7rem;
    width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    font-size: $font-size--h3;
    line-height: $header-line-height;
    background-color: $color-input;
    border: 4px solid $color-input;
    outline: none;

    &:hover {
      background-color: $color-hover-input;
      border-color: $color-hover-input;
    }

    &:focus {
      background-color: $color-active-input;
      border-color: $color-active-border;
    }

    &--small {
      flex-grow: 1;
      width: auto;
      padding: 0;
      vertical-align: middle;
      margin-left: 8px;
      text-align: center;
    }

    &--hidden {
      opacity: 0;
      height: 0;
      width: 0;
      line-height: 0;
      border: none;
    }

    &--textarea {
      display: inline-block;
      min-height: 15.8rem;
      width: 100%;
      resize: none;
    }
  }

  &__type-parallel {
    height: 5.7rem;
    width: 65px;
    font-size: $font-size--h3;
    color: $color-input-font;
    font-weight: $font-bolded;
    line-height: 5.7rem;
    text-align: center;
    background-color: $color-input;
  }

  &__error {
    display: block;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: $font-size;
    line-height: 2.6rem;
    color: $color-input--error;
  }

  &__required {
    color: $color-input--error;
    margin-left: 0.7rem;
  }

  &__btn {
    width: 5.7rem;
    margin: 0;
    padding: 0;
    color: $color-input-font;
    background-color: $color-input;
    border: none;
    outline: none;

    &--inc {
      margin-left: 0.8rem;
    }
  }

  &__svg {
    position: relative;
    top: 0.5rem;
    width: 2rem;
    height: 2rem;
    fill: $color-input-font;
  }

  &__submit {
    height: 5.8rem;
    width: 100%;
    font-size: $font-size--hotel;
    color: $color-white;
    text-transform: uppercase;
    background-color: $color-prmiary;
    border: none;

    &:hover {
      background-color: $color-hover-btn;
    }

    &:active {
      color: $font-active-btn;
      background-color: $color-active-btn;
    }
  }

  &__remove-btn {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: $color-input;
    background-image: url("../img/icon-cross.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;

    &:hover {
      // background-color:
    }
  }

  input::-webkit-calendar-picker-indicator,
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    display: none;
  }
}
