.gallery {
  &__inner {
    @include inner_padding($padding-LR);
    padding-top: 2.2rem;
    padding-bottom: 1.7rem;
    border-top: 1px solid $color-gray;
  }

  &__caption {
    position: relative;
  }

  &__title {
    @include header(h4);
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__author {
    @include paragraph($line-height-one);
    margin-bottom: 0.8rem;
  }

  &__likes {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3.7rem;
  }

  &__btn {
    position: absolute;
    top: 5.5rem;
    left: 0.1rem;
    height: 2rem;
    width: 2.2rem;
    padding: 0;
    opacity: 0.4;
    background-image: url("../img/icon-like_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    background-color: $color-white;

    &:hover {
      background-color: $color-white;
      opacity: 1;
    }

    &:active {
      background-color: $color-white;
      opacity: 0.2;
    }
  }

  &__number {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__picture {
    margin-bottom: 1.5rem;
    text-align: center;
    line-height: 0;

    & img {
      width: 100%;
    }

    // &--photo-one {
    //   height: 280px;
    //   @include img-retina("../img/photo-cactus-tablet@1x.jpg", "../img/photo-cactus-tablet@2x.jpg");
    //   background-repeat: no-repeat;
    //   background-position: center;
    //   background-size: cover;
    // }
  }

  // Tablet screen
  @include screen-size($tablet-size) {
    &__inner {
      @include inner_padding($padding-tablet-four-LR);
      padding-top: 20px;
      padding-bottom: 9px;

      &--flex-item {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        border-top: none;
      }
    }

    &__picture {
      margin-bottom: 1.4rem;

      &--higher {
        // height: 270px;
      }
    }

    &__caption {
      display: flex;
      justify-content: space-between;
    }

    &__text {
      flex-basis: 50%;
      width: 50%;
      margin-left: 2rem;
    }

    &__likes {
      flex-basis: 50%;
      width: 50%;
      padding-top: 13px;
      margin-left: 0;
      margin-right: 21px;
      text-align: right;
    }

    &__btn {
      top: 13px;
      left: unset;
      right: 61px;
    }

    &__collection {
      display: flex;
      flex-wrap: wrap;
      @include inner_padding($padding-tablet-four-LR);
    }

    &__item {
      flex-basis: 50%;
      width: 50%;
    }
  }
}
