.personal {
  &__inner {
    position: relative;
    padding: 1.8rem 6.25% 0.8rem 6.25%;
    text-transform: uppercase;
  }

  &__header {
    margin-top: 0;
    text-align: center;
  }

  &__name,
  &__second-name,
  &__surname {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 0.3rem;
    padding-bottom: 1.6rem;
  }

  &__label {
    width: auto;
    padding-top: 1.7rem;
    padding-bottom: 1.5rem;
    padding-right: 4%;
    font-size: $font-size--label;
    line-height: $label-line-height;
    white-space: nowrap;
  }

  &__input {
    box-sizing: border-box;
    height: 5.9rem;
    width: 100%;
    font-size: $font-size--input;
    line-height: $input-line-height;
    background-color: $color-input;
    border: none;
    outline: none;

    &:hover {
      background-color: $color-hover-input;
    }

    &:focus {
      background-color: $color-active-input;
      border: 4px solid $color-active-border;
    }
  }

  &::after {
    content: "";
    display: block;
    border-top: 1px solid $form-divider;
  }
}
