.developer {
  &__logo {
    display: inline-block;
    position: relative;
    top: 16px;
    left: -20px;
    color: $color-black;

    @include header(h5);
    margin-bottom: 0;
    font-weight: 400;
    text-transform: uppercase;

    &:hover {
      color: $color-blue;
      fill: $color-blue;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__svg {
    position: absolute;
    top: -3px;
    left: 103px;
  }

  // Tablet screen
  @include screen-size($tablet-size) {
    width: 33.3%;
    padding-top: 1.5rem;

    &__logo {
      margin-left: 1.4rem;
    }
  }

  // Desktop screen
  @include screen-size($desktop-size) {
    &__logo {
      margin-left: 18.9rem;
    }
  }
}
