.developer {
  &__svg {
    position: absolute;
    top: 13px;
    left: 103px;
  }

  &__logo {
    display: inline-block;
    position: relative;

    margin-right: 40px;
    padding-top: 16px;
    color: $color-black;

    @include header(h5);
    margin-bottom: 0;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;

    &:hover .developer__svg {
      fill: $color-blue;
    }

    &:active .developer__svg {
      opacity: 0.3;
    }
  }

  &__text {
    display: inline-block;
    position: relative;
    margin-right: 40px;
    padding-top: 16px;
    color: $color-black;

    @include header(h5);
    margin-bottom: 0;
    font-weight: 400;
    text-transform: uppercase;
  }

  // Tablet screen
  @include screen-size($tablet-size) {
    width: 33.3%;
    padding-top: 1.5rem;

    &__text {
      margin-right: 28px;
    }
  }

  // Desktop screen
  @include screen-size($desktop-size) {
    &__logo {
      margin-left: 18.9rem;
    }
  }
}
